@IMPORT
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
body {
	  font-size:4em;
	  color: #000000;
	  background-color: bisque;
	  background-size: cover;	  
}
h1 {
  color: black;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
}

p {
  color: black;
}


a {
  color: black;
}
a:hover {
  color: blue;
}
li{
  color: rgb(0, 255, 0)
}
input {
		caret-color: blue;
		color: white;
		background: pastel;
		font-size: 2vw;
		padding: 2vw;
}

.kotak1 {
	background-color: pink;
	width: 200px;
	height: 200px;
}
.kotak2 {
	background-color: orange;
	width: 200px;
	height: 200px;
}
.kotak3 {
	background-color: yellow;
	width: 100%;
	height: 200px;
}
.header {
	
    font-size: xx-large;
    background-color: chocolate;
    width: 100%;
    height: 50px;
	
}
.main {
    font-weight: 500;
    font-style: inherit;
    background-color: rgb(210, 105, 30);
    width: 100%;
    height: 200px;
	
}
.content {
	background-image:https://static2.bigstockphoto.com/0/4/4/large1500/44041591.jpg ;
	background-color:rgb(255, 0, 255);
	width: 70%;
	height: 100px;
	float: left;
}
.sidebar {
	background-image:https://static2.bigstockphoto.com/0/4/4/large1500/44041591.jpg ;
	background-color:rgb(255, 0, 255)
	width: 30%;
	height: 100px;
	float: right;
}
.footer {
	background-image:https://static2.bigstockphoto.com/0/4/4/large1500/44041591.jpg ;
	background-color: rgb(0, 0, 255)
	width: 200px;
	height: 100px;
	
}
.berita {
	background-color: pink;
}
center{
	background-color: chocolate;
        font-size: x-large;
}

