@IMPORT
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
body {
	  
	  background-color: bisque;
	  	  
}
h1 {
  color: black;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
}

p {
  color: black;
}


a {
  color: black;
}
a:hover {
  color: blue;
}
li{
  color: rgb(0, 255, 0)
}
input {
		caret-color: blue;
		color: white;
		background: pastel;
		font-size: 2vw;
		padding: 2vw;
}

.kotak1 {
	background-color: pink;
	width: 200px;
	height: 200px;
}
.kotak2 {
	background-color: orange;
	width: 200px;
	height: 200px;
}
.kotak3 {
	background-color: yellow;
	width: 100%;
	height: 200px;
}
.header {
	
    font-size: xx-large;
    background-color: chocolate;
    width: 100%;
    height: 50px;
	
}
.main {
    font-weight: 500;
    font-style: inherit;
    background-color: rgb(210, 105, 30);
    width: 100%;
    height: 200px;
	
}
.content {
	background-image:https://static2.bigstockphoto.com/0/4/4/large1500/44041591.jpg ;
	background-color:rgb(255, 0, 255);
	width: 70%;
	height: 100px;
	float: left;
}
.sidebar {
	background-image:https://static2.bigstockphoto.com/0/4/4/large1500/44041591.jpg ;
	background-color:rgb(255, 0, 255)
	width: 30%;
	height: 100px;
	float: right;
}
.footer {
	background-image:https://static2.bigstockphoto.com/0/4/4/large1500/44041591.jpg ;
	background-color: rgb(0, 0, 255)
	width: 200px;
	height: 100px;
	
}
.berita {
	background-color: pink;
}
center{
	background-color: chocolate;
        font-size: x-large;
}
.container { /* posisikan letak slidernya */
 margin:10% auto;
 position: relative;
 overflow: hidden;
}
.container, ul.slide li img{
 width:500px; /* Sesuaikan sendiri */
 height: 300px;  /* Sesuaikan sendiri */
}


ul.slide {
 position: absolute;
 display: block;
 width:300%;  /* <-- Angka 3 Bergantung pada jumlah slide */
}

.caption { /* styling untuk deskripsi setiap slide */
 position: absolute;
 background-color: rgba(0,0,0,0.5);
 bottom:0;
 padding:10px;
 color:#fff;
 left: 0;
 right: 0;
}

/* Yang membuatnya jadi slider */
 ul.slide li {
    display: inline-block;
    float: left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    ox-sizing:border-box;
    -webkit-transition: -webkit-transform 2000ms;
    -moz-transition: -moz-transform 2000ms;
    transition: -webkit-transform 2000ms, transform 2000ms;
 }
 ul.slide li.slide-1 {
  left: 0%;
 }
 ul.slide li.slide-2 {
  left: 100%;
 }
 ul.slide li.slide-3 {
  left: 200%;
 }
 #nav-1:checked ~ ul.slide li{
    -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
    transform: translateX(0%);
 }
 #nav-2:checked ~ ul.slide li{
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
   transform: translateX(-100%);
 }
 #nav-3:checked ~ ul.slide li {
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    transform: translateX(-200%);
 }
/* End, yang membuatnya jadi slider */



