 @IMPORT
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  body {
	  color: #000000;
	  background:url('https://st2.depositphotos.com/1813957/6716/i/950/depositphotos_67168205-stock-photo-beautiful-colorful-pastel-background-texture.jpg');
	  background-size: cover;	  
}
h1{
  color: black;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
}

p{
  color: black;
}


a {
  color: black;
}
a:hover {
  color: blue;
}
li{
  color: rgb(0, 255, 0)
}
input {
		caret-color: blue;
		color: white;
		background: pastel;
		font-size: 2vw;
		padding: 2vw;
}
div {
	background-color: pink;
}
.kotak1 {
	background-color: pink;
}
.kotak2 {
	background-color: pastel;
}
.kotak3 {
	background-color: yellow;
}
