@IMPORT
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  body {
	  color: #000000;
	  background: pink;
	  background-size: cover;	  
}
h1{
  color: black;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
}

p{
  color: black;
}


a {
  color: black;
}
a:hover {
  color: blue;
}
li{
  color: rgb(0, 255, 0)
}
input {
		caret-color: blue;
		color: white;
		background: pastel;
		font-size: 2vw;
		padding: 2vw;
}

.kotak1 {
	background-color: pink;
	width: 200px;
	height: 200px;
}
.kotak2 {
	background-color: orange;
	width: 200px;
	height: 200px;
}
.kotak3 {
	background-color: yellow;
	width: 200px;
	height: 200px
}
