@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=VT323');
body {
  background-color: #D2691E;
}

p {
  color: #000000;
}
a {
  color: #000000;
  font-family: 'VT323', monospace;
  font-size: 30px;
  
}
a:hover {
  color: #C46474;
}
li {
  color: #000000;
}
h1 {
  color: #E074AC;
 font-family: 'Cabin Sketch', cursive;
}
h2 {
  color: #3cB371;
  font-family: 'Amatic SC',cursive;
}
h3 {
  background-color: #FF7F50;
  color: #000000;
  font-family: 'Amatic SC',cursive;
  font-size: 50px;
}
h5 {
  color: #ffdbbe;
}
.box1 {
  background-color: blue;
  width: 350px;
  height: 400px;
}

.box2 {
  background-color: pink;
  width: 50%;
  height: 60%;
}


.parent{
  background-color: #FFE4C4;
  width: 100%;
  height: 500px;
}
.roti {
  background-color: #c0debe;
  float: left;
  width: 50%;
}

.ku {
  background-color: #c0debe;
  float: right;
  width: 50%;
}
h4{
  height: 50px;
  padding-top: inherit;
  position: relative;
  text-align: center;
  color:  white;
  font-size: 50px;
  font-family: fantasy;
}
.header{
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: center;
  font-size: 50px;
  background-color: #FFA07A;
}
center{
  width: 100%;
}

